* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}
.whitespace > img {
  width: 100vw;
  opacity: 0.4;
}
.explore {
  background: url(/styles/images/pattern.svg),
    linear-gradient(
      114.95deg,
      rgba(0, 0, 0, 0) -11.21%,
      rgba(205, 165, 178, 0.2) 105.31%
    ),
    linear-gradient(180deg, #23252d 53.56%, #8e8f93 148.32%);
  display: flex;
  flex-direction: column;
  padding: 2rem 0 6rem 0;
}
.explore-heading {
  font-family: "K2D";
  font-style: normal;
  color: #ffffff;
  padding: 4rem 6rem;
}
.explore-heading > h2 {
  font-weight: 700;
  font-size: 4.75rem;
  line-height: 6.125rem;
  width: 70%;
}
.explore-heading > p {
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 100;
  width: 50%;
}
.explore-instruments {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.mini-instruments {
  width: 21vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mini-text {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-align: center;
  padding-bottom: 3rem;
  color: #ffffff;
}
.mini-text > span {
  color: #dea63a;
}
.mini-img {
  display: flex;
  text-align: center;
  position: relative;
  /* border: 2px solid orange; */
  padding: 1rem;
  width: 18vw;
  height: 18vw;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  /* overflow: hidden; */
}

.mini-img > img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.hallow:hover {
  border: 2px solid #dea63a8a;
  border-radius: 50%;
  width: 19vw;
  height: 19vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-img:hover {
  overflow: hidden;
}
.mini-img:hover > img {
  transform: scale(1.4);
  transition: transform 0.1s ease-in-out;
  animation: circular 1s linear infinite forwards;
}

.button-div {
  /* border: 2px solid violet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
.mini-button {
  width: 10vw;
  border-radius: 3.25rem;
  color: #ffffff;
  background-color: #21282e;
  border: #21282e;
  height: 3.5rem;
  margin: 0.3rem;
  display: none;
}
.mini-img:hover .mini-button {
  display: block;
  width: 10vw;
  border-radius: 3.25rem;
  color: #ffffff;
  background-color: #21282e;
  border: #21282e;
  height: 3.5rem;
  margin: 0.3rem;
}
/* WHY WE ARE THE BEST STYLING*/
.best {
  background: url(/styles/images/pattern.svg), #21282e;
  padding-bottom: 5rem;
}
.best-perfect {
  color: #dea63a;
}
.best-reasons {
  /* border: 2px solid #ffffff; */
  border: 2px solid #ffffff;
  border-left: none;
  border-right: none;
  color: #ffffff;
  display: flex;
  /* margin: auto; */
  min-height: 40vh;
  justify-content: center;
}
.reason-div {
  border: 2px solid #ffffff;
  border-top: none;
  border-bottom: none;
  max-width: 22%;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 2rem;
  justify-content: center;
}
#reason1 {
  border-right: none;
}
#reason2 {
  border-right: none;
}
#reason3 {
  border-right: none;
}
.reason-text > h4 {
  margin-bottom: 1.5rem;
  font-size: 28px;
  width: 70%;
}
.reason-text > p {
  font-size: 24px;
}
.reason-icon > img {
  max-width: 30%;
  margin-bottom: 2rem;
}

/* Responsiveness styling */

@media (min-width: 200px) and (max-width: 660px) {
  .explore-instruments {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .explore-heading {
    padding: 1rem;
  }
  .explore-heading > h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    width: 100%;
  }
  .explore-heading > p {
    font-size: 1rem;
    line-height: 2rem;
    width: 100%;
  }

  .mini-text {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
  }
  .mini-instruments {
    width: 80vw;
    padding-bottom: 2rem;
  }
  .mini-img {
    width: 60vw;
    height: 60vw;
  }
  .hallow:hover {
    width: 65vw;
    height: 65vw;
  }
  .mini-button {
    width: 40vw;
    font-size: 1.5rem;
  }
  .mini-img:hover .mini-button {
    width: 40vw;
    height: 4.5rem;
  }
  /* Why we are the best div styling */

  .best-reasons {
    border: 2px solid #ffffff;
    border-left: none;
    border-right: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .reason-div {
    border: 2px solid #ffffff;
    min-width: 80%;
  }
  #reason1 {
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-top: none;
  }
  #reason2 {
    border-right: 2px solid #ffffff;
    border-bottom: none;
  }
  #reason3 {
    border-right: 2px solid #ffffff;
    border-bottom: none;
  }
  #reason4 {
    border-bottom: none;
  }
  .reason-text > h4 {
    margin-bottom: 1.5rem;
    font-size: 28px;
    width: 70%;
  }
  .reason-text > p {
    font-size: 24px;
  }
}
@media (min-width: 661px) and (max-width: 999px) {
  .explore-heading {
    padding-left: 1rem;
  }
  .explore-heading > h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    width: 80%;
  }
  .explore-heading > p {
    font-size: 1rem;
    line-height: 2rem;
    width: 60%;
  }

  .explore-instruments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }
  .mini-instruments {
    margin-top: 2.5rem;
    width: 46vw;
    display: flex;
  }
  .mini-text {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  .mini-img {
    width: 38vw;
    height: 38vw;
  }
  .hallow:hover {
    width: 42vw;
    height: 42vw;
  }
  .mini-button {
    width: 30vw;
  }
  .mini-img:hover .mini-button {
    width: 25vw;
  }

  /* WHY WE ARE THE BEST STYLING*/
  .best-reasons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .reason-div {
    border: 2px solid #ffffff;
    max-width: 100%;
  }
  #reason1 {
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-top: none;
  }
  #reason2 {
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-left: none;
    border-top: none;
  }
  #reason3 {
    border-right: 2px solid #ffffff;
    border-bottom: none;
    border-right: none;
  }
  #reason4 {
    border-bottom: none;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
}
