* {
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-style: normal;
}
footer {
  background-color: #21282e;
  min-height: 70vh;
}
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 6.125rem;
  padding-bottom: 0;
}


/* styling the yellow form */
.footer-form {
  flex-direction: row;
}
.logolist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
}
.texticons {
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
  padding: 0.3rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dea63a;
  border-radius: 1.25rem;
  height: 10.625rem;
  padding: 1rem;
  margin-bottom: 5rem;
  color: #ffffff;
}
#text-label {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}
#email {
  border: 1px solid #ffffff;
  background: #dea63a;
  border-radius: 0.5rem;
  height: 3.75rem;
  width: 400px;
  margin: auto 1.5rem auto 4rem;
}
#submit-button {
  border: 1px solid #21282e;
  font-size: 16px;
  color: #ffffff;
  border-radius: 0.5rem;
  background-color: #21282e;
  width: 11.625rem;
  height: 3.75rem;
}
#submit-button:hover {
  border: 1px solid #ffffff;
  color: #21282e;
  background-color: #ffffff;
}


/* styling the logo and nav list */
.footer-logo > img {
  width: 100%;
  height: 50px;
}
.bottom-list {
  margin-bottom: 0.5rem;
  /* border: 2px solid fuchsia; */
}
.bottom-list > ul > li {
  padding: 1rem 1.5rem 2.5rem 1.5rem;
  color: #7f878d;
  border-bottom: 1px solid;
}
.bottom-list > ul > li:hover {
  color: #adb7bf;
  transition: all 0.3s linear;
}
.copy-text {
  color: #7f878d;
  line-height: 0.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}


/* styling the footer icons */
.footer-icons {
  padding: 0.5rem;
}
.svg-icon {
  fill: #7f878d;
}
.svg-icon:hover > g {
  fill: #8f98a0;
  transform: scale(1.2);
  transition: all 0.4s;
  transform-origin: center;
}

/* Styling the footer bottom animation */
.footer-animation {
  position: relative;
}
.animation-svg {
  min-width: 100%;
  height: 2.9rem;
  position: relative;
}
.animation-background {
  opacity: 0.08;
  width: 100%;
  height: 2.9rem;
  object-fit: contain;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.bg-middle {
  transform: translateY(100%);
}
.bg-bottom {
  transform: translateY(200%);
}


/* animating each animated vector line */
#svg-1 {
  animation: transit1 2s linear 0.3s infinite;
}
#svg-2 {
  animation: transit2 2s linear 0.5s infinite;
}
#svg-3 {
  animation: transit3 2s linear 0.7s infinite;
}
@keyframes transit1 {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
@keyframes transit2 {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
@keyframes transit3 {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 250px) and (max-width: 549px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-bottom: 0;
  }
  form {
    flex-direction: column;
    height: 10rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
  #text-label {
    font-size: 25px;
  }
  #email {
    width: 80%;
    height: 2rem;
    margin: 0.5rem;
  }
  #submit-button {
    width: 8rem;
    height: 2rem;
    margin-top: 0.1rem;
  }
  .logolist {
    margin-bottom: 0.1rem;
  }
  ul {
    flex-direction: column;
  }
  .bottom-list > ul > li {
    padding: 0.2rem;
    color: #7f878d;
    border-bottom: 1px solid;
  }
  .footer-logo > img {
    display: none;
  }
  .texticons {
    flex-direction: column-reverse;
  }
  .texticons > ul {
    flex-direction: row;
    justify-content: center;
  }
  .svg-icon {
    width: 30px;
  }
  .footer-animation > svg {
    max-height: 10px;
  }
}
@media (min-width: 550px) and (max-width: 1199px) {
  .footer-container {
    padding: 3.125rem;
    padding-bottom: 0;
  }
  #text-label {
    font-size: 30px;
  }
  #email {
    margin: auto 1rem auto 2rem;
    height: 3rem;
    width: 400px;
  }
  #submit-button {
    width: 8.5rem;
    height: 3rem;
  }
  .footer-logo > img {
    height: auto;
  }
  .bottom-list > ul > li {
    padding: 1rem 0.5rem 2.5rem 0.5rem;
  }
  .footer-animation > svg {
    height: 1.8rem;
  }
}
