* {
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  display: flex;
  height: 6.25rem;
  background: linear-gradient(180deg, #21282e -103.75%, #272830 128.12%);
}

#navbarNav {
  justify-content: center;
  align-items: center;
}
.navbar-nav {
  /* border: 3px solid tomato; */
  width: 20rem;
}

nav.navbar-light .navbar-nav .nav-link {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin: 1.2rem;
  transition: all 0.3s linear;
}
nav.navbar-light .navbar-nav .nav-link:hover {
  color: #dea63a;
  text-decoration: underline;
}
.navbar-icon-set {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 1rem;
  /* margin: 20px; */
}
.navbar-icons {
  max-width: max-content;
  /* border: 2px solid yellow; */
  flex-direction: row;
  text-decoration: none;
}

.nav-icon {
  align-items: center;
  justify-content: center;
  margin: 0.6rem;
  border-radius: 100%;
  flex-direction: row;
  text-decoration: none;
}
.nav-icon:hover {
  background-color: #dea63a;
}
button.navbar-toggler {
  transition: box-shadow 0.15s ease-in-out;
  background-color: gray;
}
button#navbarNav {
  border: 2px solid red !important;
}
@media (min-width: 200px) and (max-width: 660px) {
  .navbar {
    height: 4rem;
  }
  .navbar-icons {
    display: none;
  }
  nav.navbar-light .navbar-nav .nav-link {
    z-index: 3;
    width: 20vw;
    color: black;
    margin: 0.3rem;
    padding: 0.2rem;
  }
  nav.navbar-light .navbar-nav .nav-link:hover {
    color: #dea63a;
    text-decoration: underline;
  }
  .navbar-nav {
    width: 20rem;
    position: absolute;
    right: 0.625rem;
    width: 30vw;
    height: 30vh;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(180deg, #e0e1e2 -100.75%, #8f8f92 128.12%); */
  }
}
@media (min-width: 661px) and (max-width: 1199px) {
  .nav-link {
    margin: 6px;
  }
  nav.navbar-light .navbar-nav .nav-link {
    margin: 0.5rem;
  }
}
